:root {
  --main-font: Raleway, sans-serif;
  --bg-gradient: linear-gradient(to right, #083746, #0b4354, #0f5061, #125d6f, #166a7d);
  --bg-gradient-light: linear-gradient(to right, #083746, #0b4354, #0f5061, #125d6f, #166a7d);
  --bg-accent-2: #475764;
}

* {
  box-sizing: border-box;
}

/* Colors */
.gradient-dark {
  background-image: var(--bg-gradient) !important;
}

.gradient-light {
  background-image: var(--bg-gradient-light) !important;
}

.bg-grey {
  background-color: #ececec !important;
}

/*Navbar*/
.top-nav {
  background-image: var(--bg-gradient);
}

.top-nav ul li .nav-link {
  font-size: .75rem;
  color: white !important;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.top-nav ul li .nav-link:hover {
  color: orange;
}

.top-nav .navbar-toggler {
  background-color: orange;
}

.bottom-nav .navbar-brand img {
  width: 8rem;
}

.bottom-nav .rewards img {
  width: 14rem;
}

/*Header*/

#slider .carousel-item img {
  object-fit: cover;
  max-height: 50vh;
  width: 100%;
  object-position: top;
}

/*Main*/  
.nav-options img {
  width: 2rem;
}

.nav-options div {
  border-radius: 20px;
  border: 1px solid #efefef;
}

.featured img {
  width: 100% !important;
}

.featured .details {
  font-size: .75rem;
}

.featured .details p {
  margin-bottom: 0.25rem;
}

@media (max-width: 980px) {
  .featured-rows .d-flex {
    flex-direction: column;
    align-items: center;
  }
}